/*FOOTER*/

footer {
  grid-area: f;
  padding: 0 5em;
  background-color: #385DAB;
  display: flex;
  border-top: solid 1px #425E0C;
  justify-content: space-between;
  align-items: center;
}

#logo-footer {
  /* width: 25vh; */
  width: 4em;
  margin: 0.2em 0;
}

#social-media{
  display: flex;
  justify-content: space-between;
}

.icon{
  text-decoration: none;
  margin: 0 3vh;
  display: flex;
  align-items: center;
}

.icon svg{
  fill: white;
  height: 3vh;
}

/* TABLET */
@media screen and (min-width: 481px) and (max-width: 1023px){
  #logo-footer{
    width: 3em;
  }
}

/* CELULAR */
@media screen and (max-width: 480px) {
  footer {
    padding: 0 2em;
    justify-content: unset;
  }

  #logo-footer{
    width: 2em;
  }
}