/*HEADER*/
header{
  padding: 1em 0;
  grid-area: h;
  background-color: #7DAB27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #425E0C;
}

.nav-header{
  display: flex;
  justify-content: space-between;
}

.navigation{
  margin: 1em;
  padding: 1vh 0;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#register{
  background-color: #425E0C;
  color: white;
  width: 15vh;
  border-radius: 15px;
}

main{
  grid-area: m;
  background-color: white;
}
/*CIERRE HEADER*/