/*HEADER*/

header {
  grid-area: h;
  padding: 0 5em;
  background-color: #7DAB27;
  border-bottom: solid 1px #425E0C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  /* width: 30vh; */
  width: 10%;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  width: 25em;
}

.navigation {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#register {
  background-color: #425E0C;
  border-radius: 15px;
  padding: 0.4em;
}

main {
  grid-area: m;
}

/* CELULAR */

@media screen and (max-width: 480px) {
  header {
    padding: 0 2em;
    display: block;
    height: 6em;
  }
  .nav-header {
    width: 100%;
    margin: 0 0 0.7em 0;
  }
  .navigation {
    
  }
  figure.imagen {
    width: unset !important;
  }
}

/* header{
  padding: 1em 0;
  grid-area: h;
  background-color: #7DAB27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #425E0C;
}

.nav-header{
  display: flex;
  justify-content: space-between;
}

.navigation{
  margin: 1em;
  padding: 1vh 0;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#register{
  background-color: #425E0C;
  color: white;
  width: 15vh;
  border-radius: 15px;
}

main{
  grid-area: m;
  background-color: white;
} */
/*CIERRE HEADER*/