@import url(./header.css);
@import url(./footer.css);

body{
  margin: 0;
  padding: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6,1fr);
  grid-template-areas: 
  "h h h h h h"
  "m m m m m m"
  "m m m m m m"
  "m m m m m m"
  "m m m m m m"
  "f f f f f f";
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.formulario_mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario_mensaje-activo {
	display: block;
}

.formulario_mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario_mensaje-exito-activo {
	display: block;
}

.formulario_input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario_input-error-activo {
	display: block;
}

.formulario_validacion-estado {
	position: absolute;
	opacity: 0;
  margin: 0 0 0 0.5em;
}

/* ----- Estilo de Validaciones ----- */
.formulario_grupo-correcto .formulario_validacion-estado {
  color: #1ed12d;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
  color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
  border: 3px solid #bb2929;
}